{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<!-- Footer -->
<footer>
    <!-- Left Section: Contact Details -->
    <div class="footer-section footer-left">
        <p><strong>Address:</strong> 
            <a href="https://maps.app.goo.gl/EGto9joK7MjxtGve9" target="_blank">
                47 Manuel L. Quezon Ext, Dalig, Antipolo, 1870 Rizal
            </a>
        </p>
        <p><strong>Contact:</strong> Mobile - 0905 317 2869 | Tel - (02) 8570-2298</p>
        <p><strong>Email:</strong> 
            <a href="mailto:mktg.skillpowerinstitute@gmail.com">
                mktg.skillpowerinstitute@gmail.com
            </a>
        </p>
        <p><strong>Facebook:</strong> 
            <a href="https://www.facebook.com/SPIAntipoloCity/" target="_blank">
                SPI Antipolo City
            </a>
        </p>
    </div>

    <!-- Middle Section: Navigation Links -->
    <div class="footer-section footer-center">
        <p><a href="{% url 'about' %}">About Us</a></p>
        <p><a href="{% url 'programs' %}">Programs</a></p>
        <p><a href="{% url 'application_process' %}">Admission</a></p>
    </div>

    <!-- Right Section: Programs -->
    <div class="footer-section footer-right">
        <p><strong>Programs</strong></p>
        <p><a href="{% url 'history' %}">History</a></p>
        <p><a href="{% url 'mission' %}">Mission</a></p>
        <p><a href="{% url 'contact' %}">Contact</a></p>
    </div>
</footer>
