{% include 'myapp/header.html' %}
{% include 'myapp/nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Power Institute</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Bitter:wght@700&display=swap" rel="stylesheet">

     <!-- Add your custom CSS file for Mica style -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mv.css' %}">
</head>
<body>

    <section class="hero">
        <h1>Empowering Education, Transforming Lives</h1>
        <p>Providing world-class education with a commitment to excellence.</p>
    </section>

    <section class="deck">
        <div class="card-space">
            <div class="card">
                <div class="face front">
                    <h1>Mission Statement</h1>
                </div>
                <div class="face back">
                    <p>Skill Power Institute shall support the nation's quest for social justice and bridge the social and economic divide by creating more opportunities for access to both regular and alternative instructional systems, with a special focus on the underprivileged.</p>
                </div>
            </div>
        </div>

        <div class="card-space">
            <div class="card">
                <div class="face front">
                    <h1>Vision Statement</h1>
                </div>
                <div class="face back">
                    <p>Skill Power Institute envisions itself as a driving force for national development by expanding access to world-class education and fostering excellence in the arts, sciences, and technology.</p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

{% include 'myapp/footer.html' %}